body{
    background-color: rgb(31, 55, 109);
    margin: 0px;
    margin-top: 10px;
}

.gameTitle{
    display: flex;
    width: max-content;
    margin: auto;
    font-weight: bold;
    color: #fff;
}

.game{
    display: flex;
    flex-direction: column;
}

.gameArea{
    display: flex;
    overflow: hidden;
    background-color: rgb(117, 209, 245);
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border: solid 4px rgb(3, 73, 204);
}

.scoreArea{
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    display: flex;
    position: absolute;
    height: max-content;
    right: 450px;
    top: 84px;
}

.loseGame{
    font-family: 'Amatic SC', cursive;
    position: absolute;
    margin: 50px 150px;
    width: 200px;
    height: 200px;
    border: solid 2px rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 34px;
    padding: 10px;
}

.retryLink{
    text-decoration: none;
    background-color: #ff5f5f;
    color: #fff;
    padding: 5px 20px;
    border-radius: 25px 25px 25px;
    border: solid 2px #fff;
}

.retryLink:hover{
    background-color: #fff;
    color: #ff5f5f;
}