body{
    background-color: rgb(31, 55, 109);
    margin: 0px;
    margin-top: 10px;
}

.gameTitle{
    display: flex;
    width: max-content;
    margin: auto;
    font-weight: bold;
    color: #fff;
}

.game{
    display: flex;
    flex-direction: column;
}

.gameArea{
    display: flex;
    overflow: hidden;
    background-color: rgb(117, 255, 255);
    width: 500px;
    height: 300px;
    margin: auto;
    margin-top: 30px;
    border: solid 8px rgb(3, 73, 204);
}

.birdImage{
    position: absolute;
    display: flex;
    margin: auto;
    top: 180px;
    left: 500px;
    width: 30px;
    height: 30px;
}

.scoreArea{
    font-family: 'Amatic SC', cursive;
    font-size: 24px;
    display: flex;
    position: absolute;
    height: max-content;
    right: 450px;
    top: 84px;
}